* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "roboto", sans-serif;
    background-color: rgb(255, 255, 255);
}
.logo {
    width: 5rem;
    height: 5rem;
    border-radius: 100px;

}

img {
    width: 5rem;
    margin: 2px;
}

header {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 1rem rgb(9, 9, 9);
    z-index:10 ;
}


ul {
    display: flex;

}

li {
    color: rgb(0, 0, 0);
    list-style-type: none;
    cursor: pointer;
    padding: 2rem;
    font-weight: bold;
}

li:hover {
    color: #22B0FC;
}

.logBottom {
    background-color: #22B0FC;
    color: white;
    padding: 18px;
    width: 6rem;
    height: 1rem;
    margin-top: 20px;
    margin: 16px;
    border-radius: 1.5rem;
    text-align: center;
}

.logBottom:hover {
    color: black;
    background-color: #67c2f3;
}